#chartContainer
{
    width: 70%;
    height: 400px;
    position: center;
}

.table > tbody > tr > td
{
     vertical-align: middle;
}

.table > thead > tr > td
{
    vertical-align: middle;
    text-align: left;
    font-weight: bold;
}

.datas
{
    text-align: center;
}

.table .country_name
{
    width: 25%;
    vertical-align: middle;
}

.table .country_name img
{
    display: block;
    float: left;
    margin-right: 20px;
}

.table .country_name a
{
    display: block;
    margin-top: 20px;
    vertical-align: middle;
    text-decoration: none;
    color: royalblue;
}