{% extends "base.html" %}
{% block content %}

    <div class="country-header">
        <img id="country-img" src="https://www.countryflags.io/{{ code }}/shiny/64.png"/>
        <h3 class="article-title"> {{ title }} -  Total Cases, Deaths, Recovered from the first recorded case </h3>
        <a class="btn btn-info" href="{{ url_for('get_all_countries') }}">Back to Main</a>
    </div>

    <div class="country-info">
        <div class="summary-info-table">
            {% for country in countries.Countries %}
                {%  if country.Slug == slug %}
                    <table class="table table-hover">
                        <tbody>
                            <tr>
                                <td>Status as of the date</td>
                                <td>{{ country.Date[:10] }}</td>
                            </tr>
                            <tr>
                                <td>New confirmed case</td>
                                <td>{{ country.NewConfirmed }}</td>
                            </tr>
                            <tr>
                                <td>Total confirmed cases</td>
                                <td>{{ country.TotalConfirmed }}</td>
                            </tr>
                            <tr>
                                <td>Total confirmed cases</td>
                                <td>{{ country.TotalConfirmed }}</td>
                            </tr>
                            <tr>
                                <td>New deaths</td>
                                <td>{{ country.NewDeaths }}</td>
                            </tr>
                            <tr>
                                <td>Total deaths</td>
                                <td>{{ country.TotalDeaths }}</td>
                            </tr>
                            <tr>
                                <td>New recovered</td>
                                <td>{{ country.NewRecovered }}</td>
                            </tr>
                            <tr>
                                <td>Total recovered</td>
                                <td>{{ country.TotalRecovered }}</td>
                            </tr>
                        </tbody>
                    </table>
                {% endif %}
            {% endfor %}
        </div>

        <div class='date-picker'>

                <label for="datepicker">Select start date</label>
                <input type='date' class="form-control" id='start_date'/>
                <label for="datepicker2">Select end date</label>
                <input type='date' class="form-control" id='end_date'/>
                <input class="btn btn-success" type="button" onclick="country_start_end();" value="Confirm Dates"/>
                <a class="btn btn-primary" href="" id="start_end" target="_blank">Show charts for selected period</a>

        </div>
    </div>

    <div class="charts">
        <canvas id="chart-cases-confirmed"></canvas>
        <canvas id="chart-deaths"></canvas>
        <canvas id="chart-recovered"></canvas>
    </div>


    <script>
        let dates = [
            {% for item in cases_day %}
                '{{ item.Date[:10] }}',
            {% endfor %}
        ];
        let cases = [
            {% for item in cases_day %}
                {{ item.Cases }},
            {% endfor %}
        ];
        let deaths = [
            {% for item in deaths %}
                {{ item.Cases }},
            {% endfor %}
        ]
        let recovered = [
            {% for item in recovered %}
                {{ item.Cases }},
            {% endfor %}
        ]
        let chart_title_cases = 'Total covid cases ' + '{{ title }}';
        let chart_title_deaths = 'Total deaths ' + '{{ title }}';
        let chart_title_recovered = 'Total recovered ' + '{{ title }}';
        drawChart('chart-cases-confirmed', dates, cases, chart_title_cases);
        drawChart('chart-deaths', dates, deaths, chart_title_deaths);
        drawChart('chart-recovered', dates, recovered, chart_title_recovered);


    </script>
{% endblock %}

