{% extends "base.html" %}

{% block content %}
    <div class="media content-section">
        <div class="media-body">
            <div id="chartContainer"></div>
        </div>
    </div>

<script>
        window.onload = function () {
            let data = [
                        {% for item in cases_day %}
                            {% set date = item.Date[:10].split("-") %}
                            {x: new Date({{date[0]}},{{date[1]}},{{date[2]}}), y: {{item.Cases}}},
                        {% endfor %}
            ];
            let title = "{{cases_day[0].Country}}";
            renderChart(data, title);
        }
</script>
{% endblock %}

