html, body
{
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #fcfaf9;
}

.container
{

}

article table img
{
    float: left;
    margin-left: 20px;
    display: inline-block;
}


.summary-title
{
    font-family: 'Bebas Neue', cursive;
    margin-bottom: 30px;
}

.title
{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}


.table > tbody > tr > td
{
     vertical-align: middle;
}

.country
{
    text-align: left;
    font-weight: bold;
    vertical-align: middle;
}

.datas
{
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
}

.table .country_name
{
    width: 25%;
    vertical-align: middle;
}

.table .country_name img
{
    display: block;
    float: left;
    margin-right: 50px;
}

.table .country_name a
{
    display: block;
    margin-top: 20px;
    vertical-align: middle;
    text-decoration: none;
    color: royalblue;
}

.world-emoji
{
    display: block;
    float: left;
    font-size: 40px;
    margin-right: 50px;
    margin-left: 35px;
}



/*styling country details*/

.country-info
{
    clear: both;
    float: left;
    width: 22%;
}

.country-info .summary-info-table
{
    margin-top: 30px;
    border: #c8cbcb 1px solid;
    margin-bottom: 30px;
    font-size: 14px;
}

.date-picker
{
    border: #c8cbcb 1px solid;
    padding: 20px;
    font-size: 14px;
}

.date-picker label
{
    margin-top: 10px;
    margin-left: 15px;
    display: block;
}

.date-picker input
{
    width: 180px;
    display: block;
    margin: auto;
}

.date-picker input[type=button]
{
    display: block;
    margin-top: 20px !important;
}

.date-picker a
{
    margin-top: 20px;
}

.country-header
{
    text-align: center;
}

#country-img
{
    display: inline-block;
    float: left;
}

.country-header h3
{
    display: inline-block;
    font-family: 'Bebas Neue', cursive;
    margin-top: 20px;
}

.charts
{
    width: 75%;
    float: right;
}


.charts canvas
{
    margin-top: 20px;
}

.table .table-hover
{
    width: 100%;
    margin: auto;
}

.country-header .btn
{
    display: block;
    float: right;
    margin-top: 15px;
}

/*styling charts for start to end date*/

.charts-start-stop
{
    width: 100%;

}

.charts-start-stop canvas
{
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;

}